services:
  backend:
    image: backend:latest
    container_name: backend
    environment:
      DB_USER: admin
      DB_PASSWORD: admin
      DB: db
    ports:
      - "8000:8000"
    networks:
      - backend
    volumes:
      - ./buildings_cleaned.csv:/app/buildings_cleaned.csv

networks:
  backend:


