services:
  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d db"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: backend:latest
    container_name: backend
    environment:
      DB_USER: admin
      DB_PASSWORD: admin
      DB: db
    ports:
      - "8000:8000"
    networks:
      - backend
    volumes:
      - ./buildings_cleaned.csv:/app/buildings_cleaned.csv

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - backend

  chroma:
    image: ghcr.io/chroma-core/chroma:latest
    container_name: chroma
    ports:
      - "8001:8001" # API порт
    volumes:
      - ./chroma_data:/chromadb # сохраняем данные на хост
    environment:
      - CHROMA_DB_IMPL=duckdb+parquet # durable storage
      - CHROMA_SERVER_HTTP_PORT=8001

networks:
  backend:

volumes:
  grafanadata:
  prometheus_data:
